.deleteContact {
  background: red;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: red;
  }

  &:focus {
    outline: none;

  }
}

.error {
  border-color: red;
}
